@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
}

h1 {
    padding: 12px;
    color: #fff;
    text-shadow: 1px 1px 0px #081aa3;
}